.sidebar {
    width: 35vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    position: absolute;
    z-index:9999;
    background-color:whitesmoke;
  }
  
  .sidebar div {
    cursor: pointer;
    position: absolute;
    left: 1em;
    top: 1em;
  }